@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

body {
    font-family: 'Jura', sans-serif;
}

* {
    margin: auto;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jura', sans-serif;
    font-weight: 800 !important;
    color: rgba(32, 32, 32, 0.736);
}

.btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem
}

.bg-black {
    background-color: #000 !important
}

.rounded-pill {
    border-radius: 5rem
}

.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, .7)
}

.navbar-custom .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 700;
    padding: 0 1rem;
}

.navbar-custom .navbar-brand:hover {
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 10%;
    letter-spacing: .1rem;
    font-weight: 700;
    color:rgb(14, 245, 14);
}

.navbar-custom .active {
    color:rgb(14, 245, 14);
}
.navbar-custom .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .1rem
}

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(2rem + 72px);
    padding-bottom: 2rem;
    background: linear-gradient(0deg, #fdfdfd 0, #b4dab7 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover
}

header.masthead .masthead-content {
    z-index: 1;
    position: relative
}

header.masthead .masthead-content .masthead-heading {
    font-size: 3rem
}

header.masthead .masthead-content .masthead-subheading {
    font-size: 1rem
}

header.masthead .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, #ffffff 0, #c6eccb 100%)
}

header.masthead .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem
}

header.masthead .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem
}

header.masthead .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%
}

header.masthead .bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%
}

@media (min-width:992px) {
    header.masthead {
        padding-top: calc(2rem + 55px);
        padding-bottom: 3rem
    }

    header.masthead .masthead-content .masthead-heading {
        font-size: 6rem
    }

    header.masthead .masthead-content .masthead-subheading {
        font-size: 4rem
    }
}

.bg-primary {
    background-color: #09ee1c !important
}

.btn-primary {
    color: #000;
    background-color: #f8f8f8;
    border-color: black
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: rgba(9, 238, 78, 0.932) !important;
    border-color: rgba(9, 238, 78, 0.932) !important
}

.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(9, 238, 78, 0.932)
}

.btn-secondary {
    background-color: #ff6a00;
    border-color: #ff6a00
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
    background-color: #c50 !important;
    border-color: #c50 !important
}

.btn-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 106, 0, .5)
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

form-section {
    position: relative;
    max-width: 520px;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px, rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
    border-radius: 30px;
    padding: 1rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}